h1 {
  font-size: 12rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 70px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../images/fondo.jpg");
  background-attachment: fixed;
}
